.eunit
deps
*.o
*.beam
*.plt
*.swp
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
.DS_Store
*.txt
*.log
clients/csharp/erlamsa_csharp_client/erlamsa_csharp_client/obj/*
clients/csharp/erlamsa_csharp_client/erlamsa_csharp_client/bin/*
*.bin
*.fuzzed
tmp
clients/frida/example
examples
.vscode
.ionide
*.pid
*.bak
*.pem
erlamsa
erlamsa_daemon
src/version.hrl
priv/
_build/
mnesia/
rebar.lock