[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        filter => "*.erl",
        rules => [{elvis_style, no_debug_call, disable},
                  {elvis_style, no_if_expression, disable},
                  {elvis_style, nesting_level, [4]}], %% radamsa compat
        ruleset => erl_files,
        ignore => [erlamsa_cmdparse, %% too tricky, need to refactor (TBD)
                   erlamsa_gf, erlamsa_gfcomms, erlamsa_mon_r2, generate_exploit, 
                   %% ^--- will be rewrited (TBD)
                   erlamsa_sgml, %% hard for parsers, too tricky
                   getopt, %% legacy
                   erlamsa_mutations, erlamsa_mutations_test] %% compability with radamsa (TBD)
       }
     ]
    }
   ]
 }
].